/* brands */
$color-discord: #7289d9;
$color-facebook: #3b5998;
$color-github: #1b1f23;
$color-instagram: #e1306c;
$color-linkedin: #0e76a8;
$color-reddit: #ff4301;
$color-twitter: #00acee;

/* black */
$black-primary: #36393f; // #282c34
$black-secondary: #2f3136;
$black-secondary-alt: #292b2f;
$black-tertiary: #202225;
$black-overlay: #36393ff0;

/* green */
$green-primary: hsl(139, 47.3%, 43.9%);
$green-secondary: hsl(139, 47.1%, 33.3%);
$green-secondary-alt: $green-secondary;

/* gray */
$gray-primary: #4f545c;
$gray-secondary: #5d6269;
$gray-secondary-alt: #72767d;

/* purple */
$purple-primary: hsl(235, 85.6%, 64.7%);
$purple-secondary: hsl(235, 51.4%, 52.4%);
$purple-secondary-alt: hsl(235, 46.7%, 44.1%);

/* red */
$red-primary: hsl(359, 82.6%, 59.4%);
$red-secondary: hsl(359, 56.7%, 48%);
$red-secondary-alt: hsl(359, 56.3%, 40.4%);

/* white */
$white-primary: #ffffff;
$white-secondary: #b9bbbe;
$white-tertiary: #72767d;

/* animation */
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

/* duration */
$duration-input: 150ms $cubic-bezier;
$duration-button: 280ms $cubic-bezier;
$duration-switch: 150ms $cubic-bezier;

/* transition */
$transition-arrow: transform $duration-input;
$transition-background-color:
	background-color $duration-input,
	color $duration-input;
$transition-button:
	background-color $duration-button,
	color $duration-button;
