/* Imports */
@import 'colors';
@import 'fonts';
@import 'sizes';
@import 'media';

/* Generals */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	// cursor: default;
	border: none;
}

body,
html,
#__next {
	background: $black-primary;
	color: $white-primary;
	font-family: Inter, sans-serif;
	overflow-y: auto;
	overflow-x: auto;
	height: 100%;
	width: 100%;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
p,
pre {
	// cursor: default;
	user-select: none;

	&:any-link {
		cursor: pointer;
	}
}
